.jumbotron{
    /* background: navy; */
    color:black;
    text-align: center;
    padding: 20px;
    background-color: lightseagreen;
    font-weight: bold;
}
#submit-user{
    float: right;
}
body{
    margin: 20px;
    background-color: black;
}
.panel-heading{
    background: lightseagreen;
    color: white;
}
.panel{
    border: 1px solid lightseagreen;
}